main.Rmd
# *.pdf
*.PNG
*.aux
*.bbl
*.bcf
*.blg
*.docx
*.fdb_latexmk
*.fls
*.jpeg
*.jpg
*.knit.md
*.log
*.out
*.png
*.run.xml
*.synctex.gz
*.syncx(busy)
*.utf8.md
*.xdv
*.zip
*_files/
.RData
.Rhistory
.Rproj.user
.Rproj.user/*
confidential/*
deprecated/*
test/*
/doc-creation
